.content {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 500px) {

    .hero,
    .top-news,
    .scores,
    .weather {
        width: 50%;
    }

}

@media screen and (min-width: 900px) {

    .weather,
    .top-news,
    .scores {
        width: 33.33333%;
        order: 2;
    }

    .hero {
        order: 0;
        width: 66.66666%;
    }

    .recent-news {
        width: 33.33333%;
        order: 1;
        overflow-y:auto;
        max-height: 300px;
    }
}

@media screen and (min-width: 1000px) {

    main {
        width: 1000px;
        margin: auto;
    }
}