/* 添加 CSS */
body {
    font-family: 'Courier New', Courier, monospace
}
div {
    border-radius: 5px;
    border-color: rgba(248, 245, 245, 0.6);
}

.out-box {
    padding: 5px 10px;
    width: 310px;
    border-style: groove; 
    margin: 0 auto;
    box-shadow: 10px 5px 5px rgba(131, 131, 158, 0.5);
}


.content {
   width: 300px;
   padding: 5px 0;
}
img {
    /* height: 200px; */
    width: 300px;
    border-radius: 5px;
}

.text-content {
    padding: 5px 10px;
    border-style: groove; 
    margin: 10px auto;
    text-align: left;
}

.ptitle {
    font-style: italic;
}

.li-title {
    font-weight: bold;
}

ul {
    /* list-style-position: outside; */
    list-style-type: none;
    padding: 0;
}
