img {
    border-radius: 5px;
    -webkit-box-shadow: 7px 6px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 10px 1px rgba(0,0,0,0.75);
}

/* Header */

.cat-header {
    padding-bottom: 15px;
    margin: 15px 0 15px 0;
    border-bottom: 3px solid #7d97ad;
}

.cat-head-title {
    font-size: 48px;
    font-weight: 300;
}

.cat-head-author {
    font-weight: bolder;
}
/* Main */
.cat-main-pic {
    margin-bottom: 20px;
}
.cat-main-title {
    color: #7d97ad;
}

/* Bottom */
.cat-bottom {
    margin-bottom: 10px;
}